<h2><%= link_to @merchant.name %></h2>
<p><%= @merchant.address %></p>
<p><%= @merchant.city %> <%= @merchant.state %> <%= @merchant.zip %></p>

<%= link_to 'Create Bulk Discount', new_merchant_discount_path %><br>

<%= link_to 'My Items', '/merchant/items' %>

<ul>
  <% @merchant.discounts.each do |discount| %>
  <li id="discount-<%= discount.id %>"><%= "#{discount.percentage.round}% discount on #{discount.items_needed} or more items purchased" %><br>
  <%= link_to "Edit Discount", "/merchant/discounts/#{discount.id}/edit" %></li><br>
  <% end %>
</ul>

<section class="orders">
  <% @merchant.pending_orders.each do |order| %>
    <section id="order-<%= order.id %>">
      <%= link_to order.id, "/merchant/orders/#{order.id}" %>
      <p>Potential Revenue: <%= order.merchant_subtotal(@merchant.id) %></p>
      <p>Quantity of Items: <%= order.merchant_quantity(@merchant.id) %></p>
      <p>Created: <%= order.created_at %></p>
    </section>
  <% end %>
</section>
